.sections {
  padding: 20px;
}

.section1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: url("./assets/images/image.jpg");
  height: 96vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section2 {
  background-color: rgb(255, 121, 81);
  height: 100vh;
}

.Header {
  flex: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .section2 {
    background-color: rgb(9, 136, 255);
    height: 100vh;
  }
}
